# Build
/build/artifacts/
/build/stage-1/
/build/stage-2/
/build/svn/

# Composer
/vendor/

# Packages
/packages/

# Node.js
/node_modules/

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json
